<script src="/js/vis.min.js"></script>
<link href="/css/vis.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #board {
      width: 90%;
      height: 90%;
      border: 2px solid lightgray;
      margin: auto;
    }
  </style>

<div id="board"></div>

<script type="text/javascript">
  // create an array with nodes
  var DIR = 'img/';
  var nodes = [
    {
      id: 1,
      label: 'Guy 1',
      title: 'Some Guy',
      shape: 'image',
      image: DIR + 'guy1.png',
      group: 'person',
      x: 0,
      y: 0
    },
    {
      id: 2,
      label: 'siteb.com',
      group: 'thing',
      x: 0,
      y: 200
    },
    {
      id: 3,
      label: 'sitec.com',
      group: 'thing',
      x: 165,
      y: 200
    },
    {
      id: 4,
      label: 'Company D',
      group: 'thing',
      x: -165,
      y: 200
    }
  ];
  
    // create an array with edges
    var edges = [
      {
        id: '1to2',
        from: 1,
        to: 2,
        color:{color:'red'},
        dashes: false,
        width: 2,
      },
      {
        id: '1to3', 
        from: 1, 
        to: 3, 
        color:{color:'red'},
        dashes: false,
        width: 2,
      },
      {
        id: '2to4',
        from: 2,
        to: 4,
        color:{color:'black'},
        dashes: true,
        width: 2,
      }
    ];
  
    // create a network
    var container = document.getElementById('board');
  
    var data = {
      nodes: nodes,
      edges: edges
    };
  
    var options = {
      physics: {enabled: false},
      interaction: {
        navigationButtons: true,
        keyboard: {
          enabled: false
        },
        zoomView: true
      },
      edges: {
        smooth: {
          type: 'continuous'
        }
      },
      groups: {
        person: {
          shape: 'image',
          borderWidth: 2,
          size: 60,
            color: {
            border: '#406897',
            background: '#6AAFFF'
          },
          shapeProperties: {useBorderWithImage: true}
        },
        place: {
          shape: 'box',
          borderWidth: 2,
            color: {
            border: '#406897',
            background: '#6AAFFF'
          },
        },
        thing: {
          shape: 'box',
          borderWidth: 2,
            color: {
            border: '#406897',
            background: '#6AAFFF'
          },
        }
      }
    };
  
    var network = new vis.Network(container, data, options);

    </script>
