<!--
If you want to include any custom html just before </head>, put it in /layouts/head_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/head_custom.html doesn't exist.

<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-config" content="/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
-->
{{ if and ( and .Site.Params.parseAppID .Site.Params.parseJSKey) .Site.Params.parseServerURL }}
<script type="text/javascript">
  var parseAppID = "{{ .Site.Params.parseAppID }}";
  var parseJSKey = "{{ .Site.Params.parseJSKey }}";
  var parseServerURL = "{{ .Site.Params.parseServerURL }}";
  var baseURL = "{{ .Site.BaseURL }}";
</script>
{{ end }}
<script src="/js/jquery.min.js"></script>
<script src="/js/parse.min.js"></script>
<script src="/js/parse-user.js"></script>