<div class="posts-list">
  <script src="/js/leaflet.js"></script>
  <div id="mapid-list"></div>
  <script>
    var map = L.map('mapid-list').setView([-41.838875, 171.7799], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    map.locate({setView: true, maxZoom: 16});
  </script>
  {{ range .Pages }}
    <script>
      L.marker([{{ .Params.lat }}, {{ .Params.long }}]).addTo(map)
        .bindPopup('<a href="{{ .Permalink }}"><b>{{ .Params.title }}</b>{{ range .Params.address }}<br>{{ . }}{{ end }}<br>\</a>');
    </script>
  {{ end }}
  <hr class="small">
  {{ range .Paginator.Pages }}
    <article class="post-preview">
      <a href="{{ .Permalink }}">
        <h4>{{ .Title }}</h4>
      </a>
    </article>
  {{ end }}
  </div>
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; Previous</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Next &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>